body {
    margin: 60px auto;
    max-width: 800px;
    display: block;
    background-color: #5E8B7E;
  }

h1,
h4,
h5 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 55px;
  color: #ffffff;
}

h1,
h5 {
  font-size: 45px;
}

h2 {
  font-size: 85px;
  text-align: center;
  color: #ffffff;
}

h3 {
  font-size: 24px;
  opacity: 0.8;
  text-align: center;
  color: #ffffff;
}

h4 {
  text-align: center;
  font-size: 24px;
}

a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  }

  .email {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  p{
    text-align: center;
    color: white;
    margin: 5px;
    font-size: 14px;
  }

  @media(max-width :900px){
    h1{
      font-size: 48px;
      line-height: 1.5;
    }

    h2{
      font-size: 36px;
    }

    p{
      text-align: center;
    }

    a.btn.btn-outline-info{
      display: block;
      text-align: center;
      margin: 0 35px;
    }

  }
